<h1>Listing slide_shows</h1>

<table>
  <tr>
    <th>Link</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slide_shows.each do |slide_show| %>
  <tr>
    <td><%= slide_show.link %></td>
    <td><%= slide_show.image %></td>
    <td><%= link_to 'Show', slide_show %></td>
    <td><%= link_to 'Edit', edit_slide_show_path(slide_show) %></td>
    <td><%= link_to 'Destroy', slide_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Slide show', new_slide_show_path %>
