<h1>Listing subcatalogs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subcatalogs.each do |subcatalog| %>
  <tr>
    <td><%= subcatalog.name %></td>
    <td><%= link_to 'Show', subcatalog %></td>
    <td><%= link_to 'Edit', edit_subcatalog_path(subcatalog) %></td>
    <td><%= link_to 'Destroy', subcatalog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subcatalog', new_subcatalog_path %>
