<h3>
  <%= @subcatalog.name %>
</h3>
<hr>
<div class="row">
  <%@subcatalog.products.each do |p|%>
    <div class="span3">
      
          <a href="/products/<%=p.id%>" class="thumbnail" rel="popover" 
                data-content=" <%=p.content.to_s[0..100]%>..." title="<%=p.name%>">
                
                <%=image_tag p.title_image%>
          </a>
      
    </div>
  <%end%>
</div>