
<div id="owl-demo" class="owl-carousel owl-theme">
    <%@slide_shows.each do |ss|%>
        <a class="item " href="<%=ss.link%>"><img src="<%=ss.image%>"></a>
    <%end%>
</div>
<h2>Продукция</h2>
    <hr>
<ul class="thumbnails">

  <%@products.each do |p|%>
  <li class="span3">

      
          <a href="/products/<%=p.id%>" class="thumbnail" rel="popover" 
                data-content=" <%=p.content.to_s[0..100]%>..." title="<%=p.name%>">
                
                <%=image_tag p.title_image%>
          </a>
      
    </li>
  <%end%>
</ul>
<hr>