<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>№ Заказа:
  <%= @order.id%></h1>
</p>
<%s=0%>
<h1>Корзина</h1>
<%@order.basket.orders.each do |p|%>
<%=p.count%> шт. <%=p.product.name%> за <%=p.product.price%> = <%=p.product.price*p.count%><%s=s+p.product.price*p.count%><br>
<%end%>
<h3>Итого(без учета доставки): <%=number_to_currency(s, :format => "%n %u",:unit => "тг.",  :delimiter => " ",:precision => 0)%></h3>
<br>
<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Компания:</b>
  <%= @order.company %>
</p>
<p>
  <b>Контактное лицо:</b>
  <%= @order.name %>
</p>

<p>
  <b>Телефон:</b>
  <%= @order.tel %>
</p>

<p>
  <b>Адрес:</b>
  <%= @order.address %>
</p>


<p>
  <b>Оплата:</b>
  <% if @order.buy==1 %>
  наличными
  <%else%>
  банковский перевод. Счет оплаты будет вам выслан.
  <%end%>
</p>
<p>
  <b>Дополнительная информация:</b>
  <%=raw @order.commet %>
</p>

    <p>
      Вы всегда можете посмотреть статус заказа по адресу: <%= @url %>.
    </p>
    <p>Спасибо за обращение, хорошего Вам дня!</p>
  </body>
</html>