

<%s=0%>
<table class="table">
  <tr><th>Наименование</th>
    <th>цена за ед.</th>
    <th>количество</th>
    <th>сумма</th>
    
  </tr>

<%@basket.orders.each do |p|%>
<tr>
  <td><%= p.product.name%></td>
  <td><%=number_to_currency(p.product.price, :format => "%n %u",:unit => "тг.",  :delimiter => " ",:precision => 0)%></td>
  <td>
      <%=p.count%>
  
      
      
  </td>
  <td><%s=s+p.product.price*p.count%><%=number_to_currency(p.product.price*p.count, :format => "%n %u",:unit => "тг.",  :delimiter => " ",:precision => 0)%></td>
  
</tr>
<%end%>
<tr><th><a class="btn btn-success" href="/baskets/1"><i class="icon-arrow-left icon-white"></i> В корзину</a></th>
    <th></th>
    <th>Общая сумма:</th>
    <th><%=number_to_currency(s, :format => "%n %u",:unit => "тг.",  :delimiter => " ",:precision => 0)%></th>
    
  </tr>
</table>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  
<% if @sender.errors.any? %>
    <div id="error_explanation">
      <h3>Пожалуйста заполните все поля отмеченные (*). </h3>

      <ul>
      <% @sender.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>


    <%= form_tag({:controller => "senders", :action => "create"}, :class => "form-horizontal") do |f|%>
    <legend>Персональные данные</legend>   
  <div class="control-group <%=if @sender.errors[:email]!=[];"error";end;%>">
    <label class="control-label" for="sender_email">Email*</label>
    <div class="controls">
      <%=text_field(:sender, :email, :placeholder=>"Email") %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="sender_company">Компания</label>
    <div class="controls">
      <%=text_field(:sender, :company, :placeholder=>"Наименование вашей компании") %>
    </div>
  </div>
  <div class="control-group <%=if @sender.errors[:name]!=[];"error";end;%>">
    <label class="control-label" for="sender_name">Контактное лицо*</label>
    <div class="controls">
      <%=text_field(:sender, :name, :placeholder=>"Ваше Ф.И.О.") %>
    </div>
  </div>
  <div class="control-group <%=if @sender.errors[:tel]!=[];"error";end;%>">
    <label class="control-label" for="sender_tel">Телефон*</label>
    <div class="controls">
      <%=text_field(:sender, :tel, :placeholder=>"+7 7хх ххх хх хх ") %>
    </div>
  </div>
    <legend>Доставка</legend>   
<div class="control-group <%=if @sender.errors[:address]!=[];"error";end;%>">
    <label class="control-label" for="inputEmail">Адрес*</label>
    <div class="controls">
      <%=text_field(:sender, :address,:placeholder=>"Город, улица, дом, офис") %>
    </div>
  </div>  
  <div class="control-group">
    <div class="controls">
      Стоимость доставки: в черте г.Алматы – 400 тенге.
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      Другие города Казахстана: согласно прайс-листу <a href="http://www.kazpost.kz/ru/tarify-4"  target="_blank">ЕМS</a>.
    </div>
  </div>


    <legend>Оплата</legend>   

  <div class="control-group">
    <label class="control-label" for="sender_buy_1">Наличными </label>
    <div class="controls ">
      <label class="radio">
      <%= radio_button(:sender, :buy, 1)%> <b>При доставке товара </b> (только по городу Алматы)
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="sender_buy_2">Оплата на расчетный счет</label>
    <div class="controls form-inline">
      <label class="radio">
      <%= radio_button(:sender, :buy, 2)%><b> Все города Казахстан</b> (счет придет на указанный Вами <b>e-mail</b>)

     </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="sender_docs"></label>
    <div class="controls form-inline">
      <label class="checkbox">
      <%= check_box(:sender, :docs)%><b> Требуется ли пакет расчетных документов</b> (счет-фактура, накладная). В разделе «Дополнительная информация» внесите полные реквизиты Вашей компании.

     </label>
    </div>
  </div>

    <legend>Дополнительная информация*</legend>   
    <div class="control-group">
    <label class="control-label" for="inputEmail"></label>
    <div class="controls">
      <%=text_area(:sender, :commet,:rows => 10, :cols => 120) %>
    </div>
  </div>

      <%=hidden_field(:order, :basket_id,:class=>"span1", :value=>@basket.id) %> 
      <%=hidden_field(:order, :sicret,:class=>"span1", :value=>SecureRandom.hex(10).to_s) %>  


    <div class="control-group">
    
    <div class="controls">
        <button type="submit" class="btn btn-danger">Заказать <i class="icon-arrow-right icon-white"></i></button>
    </div>
  </div>
    Пункты, отмеченные значком «*», обязательны для заполнения.
      
      <%=hidden_field(:sender, :basket_id,:class=>"span1", :value=>@basket.id) %> 
      <%=hidden_field(:sender, :sicret,:class=>"span1", :value=>SecureRandom.hex(10).to_s) %>     
      <br><br>
      После размещения Вами заказа с Вами свяжется наш менеджер. Спасибо за заказ!
    <%end%>

