<p id="notice"><%= notice %></p>
<h1>№ Заказа:
  <%= @sender.id%></h1>
</p>
<%s=0%>
<ul>
<%@sender.basket.orders.each do |p|%>
<li>
<%=p.count%> шт. <%=p.product.name%> за <%=p.product.price%> = <%=p.product.price*p.count%><%s=s+p.product.price*p.count%>
</li>
<%end%>
</ul>
<h3>Итого(без учета доставки): <%=number_to_currency(s, :format => "%n %u",:unit => "тг.",  :delimiter => " ",:precision => 0)%></h3>
<br>
<p>
  <b>Email:</b>
  <%= @sender.email %>
</p>

<p>
  <b>Компания:</b>
  <%= @sender.company %>
</p>
<p>
  <b>Контактное лицо:</b>
  <%= @sender.name %>
</p>

<p>
  <b>Телефон:</b>
  <%= @sender.tel %>
</p>

<p>
  <b>Адрес:</b>
  <%= @sender.address %>
</p>


<p>
  <b>Оплата:</b>
  <% if @sender.buy==1 %>
  наличными
  <%else%>
  банковский перевод. Счет оптаты будет вам выслан.
  <%end%>
</p>
<p>
  <b>Дополнительная информация:</b>
  <%=raw @sender.commet %>
</p>