<div class="row">
  <%@products.each do |p|%>
    <div class="span2">
      
         <a href="/products/<%=p.id%>" class="thumbnail" rel="popover-bottom" 
                data-content=" <%=p.content.to_s[0..100]%>..." title="<%=p.name%>">
                
                <%=image_tag p.title_image%>
          </a>
      
    </div>
  <%end%>
</div>

<div class="row">
    
<div class="span4">
  <p>
  <img src="<%= @product.main_image %>">
</p>
<h4 class="red"><%if @product.yes%>(Есть в наличии)<%else%>(Нет в наличии)<%end%></h4>
</div>

<div class="span5">
  <p>
<h1><%= @product.name %> <small><%= @product.price %>тг.</small></h1>
<div class=" form-inline">
<%= form_for( @order, :url => {:controller=>"orders",:action => "new"}, :method => "get") do |f|%>
      
      <%=f.number_field  :count,:class=>"span1",:value=>1%> шт.
      <%=f.hidden_field  :product_id,:class=>"span1", :value=>@product.id%>
      <button type="submit" class="btn btn-danger">Добавить в корзину</button>
<%end%>
</div>

<p>
  <%=raw @product.content %>
</p>

</div>

</div>